/* Estilo para a logo */
.logo {
  width: 400px; /* Aumentado */
  height: auto;
  margin-bottom: 40px; /* Mais espaçamento abaixo da logo */
}

/* Contêiner principal */
.retrieve-password-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

/* Título */
.retrieve-password-title {
  font-size: 3.5rem; /* Aumentado */
  font-weight: bold;
  margin-bottom: 40px;
  color: #fff;
  text-transform: uppercase;
}

/* Botões de tradução */
.language-buttons {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
}

.language-button-pt {
  padding: 15px 30px; /* Aumentado */
  font-size: 1.5rem; /* Aumentado */
  background: linear-gradient(90deg, #4caf50, #ff0000);
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease;
}

.language-button-en {
  padding: 15px 30px; /* Aumentado */
  font-size: 1.5rem; /* Aumentado */
  background: linear-gradient(90deg, #0000ff, #ff0000);
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease;
}

.language-button-pt:hover {
  background: linear-gradient(90deg, #ff0000, #ff0000);
  transform: scale(1.1);
}

.language-button-en:hover {
  background: linear-gradient(90deg, #ff0000, #ff0000);
  transform: scale(1.1);
}

/* Botão de retirar senha */
.retrieve-password-button {
  margin-top: 30px;
  padding: 20px 50px; /* Aumentado */
  font-size: 2rem; /* Aumentado */
  background: linear-gradient(90deg, #816f00, #fbd034);
  border: none;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease;
}

.retrieve-password-button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.retrieve-password-button:hover:enabled {
  background: linear-gradient(90deg, #816f00, #ffdd00);
  transform: scale(1.1);
}

/* RESPONSIVIDADE */
/* Para telas menores que 768px */
@media (max-width: 768px) {
  .retrieve-password-title {
    font-size: 3rem; /* Ajustado */
  }

  .language-button {
    font-size: 1.3rem; /* Ajustado */
    padding: 15px 25px; /* Ajustado */
  }

  .retrieve-password-button {
    font-size: 1.8rem; /* Ajustado */
    padding: 18px 40px; /* Ajustado */
  }

  .logo {
    width: 300px; /* Reduzido para dispositivos móveis */
    margin-bottom: 30px;
  }
}

/* Para telas menores que 480px */
@media (max-width: 480px) {
  .retrieve-password-title {
    font-size: 3.5rem; /* Ajustado */
  }

  .language-button {
    font-size: 2.2rem; /* Ajustado */
    padding: 12px 20px; /* Ajustado */
  }

  .retrieve-password-button {
    font-size: 2.6rem; /* Ajustado */
    padding: 15px 30px; /* Ajustado */
  }

  .logo {
    width: 250px; /* Mais reduzido para telas muito pequenas */
    margin-bottom: 20px;
  }
}
