.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Remove scroll e adiciona fonte TODAS AS TELAS*/
body {
  margin: 0;
  padding: 0;
  overflow: hidden; 
  font-family: 'Poppins', sans-serif;
}

/* Fundo animado TODAS AS TELAS */
.background-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #303030, #3f9c42);
  background-size: 200% 200%;
  animation: gradient-animation 6s ease infinite;
  z-index: -1;
}

@keyframes gradient-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
